/* Global Attributes */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url(Assets/JetBrainsMono-Medium.ttf);
}

:root {
    --bgColour:#1d1e22;
    --accentColour: #00ff15;
    --cardColour: #242424;
    --fontColour: white;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 10px;
}

html::-webkit-scrollbar-track{
    background-color: #242424;
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb{
    background-color: #474747;

}

body {
    font-family: 'JetBrains Mono', monospace, sans-serif;
    background-color: var(--bgColour);
    color: var(--fontColour);
}

a {
    text-decoration: none;
    color: var(--fontColour);
    font-family: inherit;
}

a:hover, a:active, .logo:hover {
    color: var(--accentColour);
    cursor: pointer;
}

ul {
    list-style: none;
}

button {
    font-family: inherit;
    
}

/* Navigation Bar */

.navContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    backdrop-filter: blur(50px);
}

nav ul {
    display: flex;
    gap: 20px;
}

.logo h1{
    font-size: 30px;
}

.mobileControls {
    display: none;
}

.mobileControls svg {
    height: 40px;
    width: 40px;
}

/* Hero Section */

.hero, .about , .tech, .contact, .projects {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.hero p {
    font-size: 25px;
    text-align: center;
}

.scrollDown {
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    font-size: 20px;
}

.thisLink {
    color: var(--accentColour);
}

/* About Section */

.about h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.about p {
    width: 40vw;
    text-align: center;
    line-height: 1.5;
    font-size: 25px;
}

/* Tech Stack */

.careerChoice {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    font-size: 20px;
}

.careerChoice h2 {
    padding: 10px 20px;
}

.careerChoice h2:hover {
    cursor: pointer;
    background-color: var(--cardColour);
}

.active {
    background-color: var(--cardColour);
    color: var(--accentColour);
}

.techs {
    margin-top: 30px;
}

.techs li {
    display: flex;
    align-items: center;
    gap: 50px;
}

.techEEE img {
    height: 72px;
    width: 72px;
    border-radius: 15px;
}

.techWeb ul, .techEEE ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.techEEE {
    display: none;
}

/*Contact Section */

.contact h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.contact ul li a {
    display: flex;
    align-items: center;
    width: 400px;
    gap: 50px;
    padding: 10px 20px;

}

.contact ul li a:hover {
    background-color: var(--cardColour);
    color: var(--accentColour);
    cursor: pointer;
}

.contact ul li a svg {
    height: 50px;
    width: 50px;
}

.contact ul li a svg path  {
    stroke: white;   
}

.contact ul li a:hover svg path  {
    stroke: var(--accentColour);   
}

/* Projects Section */

.projectsIntro {
    font-size: 20px;
    margin: 0 20px;
}

.projectChooser {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    font-size: 15px;
}

.projectChooser h2 {
    padding: 10px 20px;
    width: 200px;
    text-align: center;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
}



.projectChooser .selected {
    background-color: var(--cardColour);
    color: var(--accentColour);
}

.projectContainer {
    width: 420px;
    height: fit-content;
    background-color: var(--cardColour);
    border-radius: 0 20px 20px 20px;
    padding: 20px;
}

.projectContainer li  {
    padding: 20px;
    cursor: pointer;
}

.projectContainer li:hover {
    background-color: var(--bgColour);
    color: var(--accentColour);
}

.elecProjects {
    display: none;
}

.add {
    display: block;
}

.remove {
    display: none;
}

/* Project This site */

.actuaProjectContainer {
    display: flex;
    height: max-content;
    margin: 10rem 10%;   
    flex-direction: column;
    z-index: 1;
}

.projectTitle {
    font-size: 35px;
    margin-bottom: 20px;
    text-decoration: underline;  
}

.actuaProjectContainer h3 {
    margin: 20px 0;
}

.objectives {
    list-style: circle;
    margin:0 40px 20px 40px;
    line-height: 1.7;
}

.projectDescription {
    line-height: 2;
}

.projectDescription a {
    color: var(--accentColour);
}


.projectsBtnContainer{
    display:flex;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
    
}

.projectsBtn {
    padding: 10px 20px;
    background-color: var(--cardColour);
    color: var(--fontColour);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    border: 3px solid var(--accentColour);
}

/* Mobile Responsive Design */

@media screen and (max-width:1020px) {
    .mobileControls {
        display: block;
        z-index: 3;
    }

    .logo h1{
        font-size: 25px;
    }
    
    nav ul {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        backdrop-filter: blur(20px);
        justify-content: center;
        align-items: center;
    }

    .navContainer {
        padding: 30px 20px;
    }

    #closeMenu {
        display: none;
    }



    .hero p, .about p, .contact h1 {
        font-size: 20px;
    }

    .scrollDown {
        font-size: 15px;
    }

    .about h1 {
        font-size: 30px;
    }

    .about p {
        width: 90vw;
    }

    .careerChoice {
        font-size: 12px;
        gap: 0;
    }

    .techEEE img, .techEEE svg, .techWeb img, .techWeb svg {
        height: 50px;
        width: 50px;
    }

    .tech ul li {
        font-size: 15px;
    }

  
    .techEEE ul, .techWeb ul {
        gap: 10px;
    }

    .contact ul li a {
        width: 100%;
    }


    .projectChooser {
        gap: 0px;
        font-size: 10px;
    }

    .projectChooser h2 {
        width: 42.5vw;
    }

    .projectContainer {
        width: 85vw;
    }

    .navContainer {
        background-color: var(--bgColour);
        backdrop-filter: none;
    }
}