* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Playfair Display';
    src: url(Assets/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Playfair Display Italic';
    src: url(Assets/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

:root {
    --primaryFont: 'Playfair Display','Work Sans', serif, sans-serif;
    --altFont: 'Playfair Display Italic','Work Sans', serif, sans-serif;
    --decriptionFont: 'Work Sans', sans-serif;
    --bodyBgColour:linear-gradient(to left, rgb(27, 76, 136) 0%, rgb(13, 36, 67) 100%);
    --sectionBgColour: rgb(255, 255, 243);
    --borderColour: rgb(129, 174, 216);
    --fontColour: rgb(108, 108, 107);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: var(--bodyBgColour);
    font-family: var(--primaryFont);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.landingPage {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro {
    width: 100%;
    display: block;
}

.intro ul {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    color: var(--sectionBgColour);
    font-family: var(--decriptionFont);
}

.card {
   background: var(--borderColour);
   padding: 19px;
   width: 80vw;
   color: var(--fontColour);
}

.cardContainer {
    border-radius: 20px;
    background: var(--sectionBgColour);
    padding: 40px;
}

nav svg {
    height: 50px;
    width: 50px;
}

.landingContent p {
    font-size: 5rem;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.1;
}

.alignRight {
    text-align: right;
}

.landingContent p span {
    font-family: var(--altFont);
    color: black;
}

.cardContainer button {
    width: calc(100% - 2rem);
    border-radius: 50px;
    margin: 2rem 1rem;
    padding: 20px;
    border: 1px solid var(--borderColour);
    filter: drop-shadow(4px -4px var(--borderColour));
    background: var(--sectionBgColour);
    cursor: pointer;
    display: none;
}